<ion-header>
  <ion-navbar>
    <ion-title>Home<span *ngIf="isAuthenticated()">: {{account?.firstName}}</span></ion-title>
    <ion-buttons *ngIf="isAuthenticated()" end>
      <button ion-button icon-only (click)="logout()" color="royal">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!isAuthenticated()" padding>
  <sentry-login></sentry-login>
</ion-content>
<ion-content *ngIf="isAuthenticated()" class="card-background-page">
  <sentry-dashboard></sentry-dashboard>
</ion-content>
