sentry-dashboard {
    .sentry-header {
        display: block;
        width: 100%;
        font-size: 24px;
        color: yellowgreen;
        font-weight: 500;
        /* margin: 10px; */
        margin-top: 70pt;
        margin-bottom: 20pt;
        padding: 0px 0px 0px 10px;
        text-align: left;
    }
    .card-background-page {
        ion-card {
            display: inline-block;
            position: relative;
            text-align: center;
            width: 48%;
            height: 178px;
            margin: .8px;
            background: url("../../assets/img/card-image.jpg");
            background-size: cover;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 1.3em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 0.9em;
            position: absolute;
            top: 62%;
            width: 100%;
            color: #fff;
        }
    }
}